This notebook is for turning overlap files made by bedtools intersect into a nicely formatted table

In [15]:
import os
import csv

root_dir = '.'


with open('overlap_table.csv', 'wb') as csvfile:
    writer = csv.writer(csvfile)
    writer.writerow(["seqA", "seqB", "numOverlap"] )
    for directory, subdirectories, files in os.walk(root_dir):
        for filename in files:
            if(str(filename).endswith('bam')):
                print filename

                a=filename[0:3]
                b=filename[4:7]
                print a
                print b

                num_lines = sum(1 for line in open(filename))
                print num_lines
                
                writer.writerow([a, b, num_lines]);

    writer.close()

JA1_JA2_overlap.bam
JA1
JA2
2958
JA1_JA3_overlap.bam
JA1
JA3
2958
JA1_JA4_overlap.bam
JA1
JA4
2958
JA1_JA5_overlap.bam
JA1
JA5
2958
JA1_JA6_overlap.bam
JA1
JA6
2958
JA1_JA7_overlap.bam
JA1
JA7
2958
JA1_JA8_overlap.bam
JA1
JA8
2958
JA2_JA3_overlap.bam
JA2
JA3
67254
JA2_JA4_overlap.bam
JA2
JA4
67254
JA2_JA5_overlap.bam
JA2
JA5
67254
JA2_JA6_overlap.bam
JA2
JA6
67254
JA2_JA7_overlap.bam
JA2
JA7
67254
JA2_JA8_overlap.bam
JA2
JA8
67254
JA3_JA4_overlap.bam
JA3
JA4
100383
JA3_JA5_overlap.bam
JA3
JA5
100383
JA3_JA6_overlap.bam
JA3
JA6
100383
JA3_JA7_overlap.bam
JA3
JA7
100383
JA3_JA8_overlap.bam
JA3
JA8
100383
JA4_JA5_overlap.bam
JA4
JA5
489224
JA4_JA6_overlap.bam
JA4
JA6
489224
JA4_JA7_overlap.bam
JA4
JA7
489224
JA4_JA8_overlap.bam
JA4
JA8
489224
JA5_JA6_overlap.bam
JA5
JA6
91261
JA5_JA7_overlap.bam
JA5
JA7
91261
JA5_JA8_overlap.bam
JA5
JA8
91261
JA6_JA7_overlap.bam
JA6
JA7
191100
JA6_JA8_overlap.bam
JA6
JA8
191100
JA7_JA8_overlap.bam
JA7
JA8
35794

AttributeError: '_csv.writer' object has no attribute 'close'

In [16]:
import pandas as pd

table = pd.read_csv('overlap_table.csv')
table

   seqA seqB  numOverlap
0   JA1  JA2        2958
1   JA1  JA3        2958
2   JA1  JA4        2958
3   JA1  JA5        2958
4   JA1  JA6        2958
5   JA1  JA7        2958
6   JA1  JA8        2958
7   JA2  JA3       67254
8   JA2  JA4       67254
9   JA2  JA5       67254
10  JA2  JA6       67254
11  JA2  JA7       67254
12  JA2  JA8       67254
13  JA3  JA4      100383
14  JA3  JA5      100383
15  JA3  JA6      100383
16  JA3  JA7      100383
17  JA3  JA8      100383
18  JA4  JA5      489224
19  JA4  JA6      489224
20  JA4  JA7      489224
21  JA4  JA8      489224
22  JA5  JA6       91261
23  JA5  JA7       91261
24  JA5  JA8       91261
25  JA6  JA7      191100
26  JA6  JA8      191100
27  JA7  JA8       35794